.addonItemItem{
  height: 55px;
  border-bottom: 1px solid rgb(219, 219, 219);
  border-top: 1px solid rgb(219, 219, 219);
  width: 100%;
}
.addonItemItem>a{
  height: 100%;
  display: flex;
  text-decoration: none;
  color: rgb(85, 78, 78);
}
.addonItemItem>a>div{
  display: flex;
align-items: center;
}
.addonItemItem>a>div>*{
  margin: 10px;
}
.addonItemItem--left{
  flex: 1;
}