.font-link {
  font-family: 'Ubuntu', sans-serif;
}

.slick-slide img{margin:auto;left:auto;}

p.img-slide-text{margin:auto auto 0;text-align: center;}

.imageSlider{max-width: 128px; height: 128px; object-fit: cover;}

/* .img-slide-text{background-color: white;border-radius: 1rem;margin: 10px;font-family: 'Kanit', sans-serif;font-size: larger;} */

.img-slide-text{font-family: 'Kanit', sans-serif;font-size: larger;color: #1f3656;}

/* .img-slide-text-small{text-align: center; font-family: 'Kanit', sans-serif;font-size: small;} */

.addonCard {
  height: 190px;
  width: 200px;
  border-radius: 10px;
  border: 1px solid #1f3656;
  background-color: whitesmoke;
  opacity: 0.9;
}

#text-author{text-align: left; margin: left 5%; ; font-family: 'Kanit', sans-serif;font-size: small; color: #6a82a1;}

#text-ide{text-align: right; margin: right 5%; ; font-family: 'Kanit', sans-serif;font-size: small; color: #41bccc;}