#slider-container .slider {
  overflow: hidden;
}

.carousel-container {
  width: 100%;
}

#text-category {
  size: 40px;
  color: #1f3656;
  text-shadow: rgba(0, 0, 0, 0.3) 2px 6px 5px,
    rgba(255, 255, 255, 0.5) 0 -4px 30px;
  -webkit-text-stroke: 0.5px #6a82a1;
}
