.dropdown-avatar {
  width: 40px;
  height: 40px;
  border-radius: 250px;
  float: left;
}

#navbar {
  background-color: #1f3656;
}

#dropdown-navbar-btn {
  width: 170px;
  background-color: transparent;
  border-color: #22528d;
  border-radius: 150px;
}

.dropdown-username {
  font-size: x-large;
  margin: auto;
}

.nav-navbar-btn {
  background-color: #0078d0;
  border: 0;
  border-radius: 20px !important;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, 'Segoe UI', Roboto, Ubuntu,
    'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: bold;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.nav-navbar-btn:before {
  background-color: initial;
  content: '';
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.nav-navbar-btn:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .nav-navbar-btn {
    padding: 16px 48px;
  }
}
