ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul > a {
  padding: 4px;
  color: #000000;
  text-decoration: none;
}

ul > a:hover {
  color: #957bda;
  cursor: pointer;
}

hr {
  border-width: 3px;
}

.card {
  padding: 2% 7%;
}

.heading {
  font-family: 'Titillium Web', sans-serif;
  color: black;
}

.divider {
  border-top: 2px solid;
}
