.addonCard {
  height: 190px;
  width: 150px;
  border-radius: 10px;
  border: 1px solid #1f3656;
  margin: 15px;
  background-color: whitesmoke;
  opacity: 0.9;
}
.addonCard--top {
  height: 70%;
  border-bottom: 1px solid rgb(219, 219, 219);
  display: flex;
  justify-content: center;
  align-items: center;
}
.addonCard--bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}
.addonCard--bottom>p {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
}