.change-user-role {
  margin-left: 440px;
}

.dropdown-btn-change-user-role{
  width: 240px;
  background-color: rgb(52, 58, 64);
  margin-top: 15px;
  border-radius: 180px;
  height: 50px;
  margin-right: 15px;
}

.user-block-btn {
  width: 90px;
  height: 50px;
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 180px;
}

.user-unblock-btn {
  width: 90px;
  height: 50px;
  margin-top: 15px;
  border-radius: 180px;
}